* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

    --style-font : "Lobster Two", cursive;
    --title-font : 'Rubik', sans-serif;
    --primary-color : #EB0029;
}
body {
    font-family: 'Roboto', sans-serif;
}

.header {
    padding:  10px 20px;
    width: 100%;
    position: relative;
}


/* ---------------hambar section style ---------------------*/
.hambar-section {
    height: 100vh;
    min-width: 250px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: -100%;
    border-right: 2px solid #EB0029;
    /* display: none; */
    box-shadow: 0px -10px 10px 2px rgba(0, 0, 0, 0.509);
    transition: all .8s;
}

.hambar-close {
    width: 25px;
    height: 25px;
    background-color: #EB0029;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    position: absolute;
    right: -10px;
    top: 25px;
    box-shadow: 0px 0px 4px 0 rgb(0, 0, 0);
    cursor: pointer;
}

.hambar-section .logo {
    background-color: #E8F8F9;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hambar-section .logo img {
    width: 70%;
}


/* hambar menu items section  styles*/

.hambar-nav .hambar-menu-items {
    padding: 20px;
    list-style: none;
    margin-top: 20px;
}
.hambar-nav .hambar-menu-items .hambar-menu-item {
    padding: 15px 0;
    border-bottom: .5px solid rgba(92, 92, 92, 0.187);
    position: relative;
}

.hambar-submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hambar-nav .hambar-menu-items .hambar-menu-item a {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.hambar-nav .hambar-menu-items .hambar-menu-item  a span i {
    font-size: 12px;
    margin-right: 5px;
}

.hambar-nav .hambar-menu-items .hambar-menu-item .hambar-submenu> i {
    
    background-color: #c3c3c36b;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* hambar sub menu section  */
.hambar-submenu-items {
    list-style: none;
    padding: 15px;
    display: none;
    transition: all .7s linear;
    position:relative;
    background-color: #EB0029;
    border-radius: 5px;
    
}

.hambar-submenu-item {
    padding: 10px 0;
    position:relative;
}

.hambar-submenu-item i {
    margin-right: 10px;
}

.hambar-menu-item .hambar-submenu-items .hambar-submenu-item a {
    font-size: 12px;
}
/* ----------------- hambar style end ------------- */






/* --------- header general-------------- */
.one-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.logo {
    flex-basis: 150px;
}

.logo img {
    width: 100%;
}

.nav {
    text-align: center;
}

.nav .menu-items {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav .menu-items .menu-item {
    padding: 37px 15px;
    cursor: pointer;
    margin: 0 1px;
    position: relative;
}

.nav .menu-items .menu-item a {
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: all .2s ;
}

.nav .menu-items .menu-item > a i {
    color: #EB0029;
}
.nav .menu-items .menu-item:hover> a {
    text-decoration: none;
    font-weight: 700;
    color: #EB0029;
}


/* submenu style */
.submenu-items {
    padding: 20px 25px;
    background-color: #FFFFFF;
    text-align: left;
    list-style: none;
    position: absolute;
    min-width: 290px;
    top: 120%;
    transition: all .5s;
    opacity: 0;
    box-shadow: 0 2px 5px 0 rgba(128, 128, 128, 0.483);
    border-radius: 5px;
    visibility: hidden;
}
.menu-item:hover .submenu-items {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.submenu-item {
    padding: 10px 0;
}
.nav .menu-items .submenu-item:hover a{
    color: #EB0029;
}
.nav .menu-items .submenu-item a i{
    color: #EB0029;
    margin-right: 10px;
}


.cart-section{
    display: flex;
    gap: 15px;
}

.cart-section div {
    width: 60px;
    height: 60px;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: .5px solid rgba(128, 128, 128, 0.339);
    box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.184);
    transition: all .3s;
    cursor: pointer;
}

.cart-btn i {
    color: black;
}
.cart-section  div:hover i {
    color: white;
}
.cart-section div:hover {
   background-color:#EB0029;
}

.bar {
    display: none;
}




/* bannar styles */
.bannar {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/hero_bg_3_3.png);
    background-position: center;
    background-size: cover;
}

/* food-list styles */

.food-lists {
    background-color: #FAF7F2;
    padding: 80PX 60px;
}
.food-lists-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
}
.food-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.food-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-img img {
    width: 70%;
}

    /* ------------------
    quality-fast-foods
    --------------------- */
.quality-fast-foods {
    padding: 80px 60px;
}

.quality-fast-foods-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.quality-food-images {
    flex-basis: 56%;
    position: relative;
}

.exp {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: flex;
    align-items: center;

}

.exp >p {
    font-size: 72px;
    font-weight: 700;
    color: var(--primary-color);
    margin-right: 15px;
}

.exp-info p{
    font-size: 24px;
    font-weight: 600;
}
.exp-info p span{
    font-weight: 400;
    color: rgb(38, 38, 38);
}


.quality-food-images img {
    width: 100%;
}

.quality-food-info {
    flex-basis: 40%;
    padding: 10px;
}

.q_f_i_about {
    font-family: var(--style-font);
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 700;
}

.q_f_i_about img {
    margin-right: 10px;
}

.quality-food-title {
    font-family: var(--title-font);
    font-size: 36px;
    margin: 10px 0 20px;
}

.quality-food-des {
    font-size: 16px;
    line-height: 30px;
}

.quality-food-fituars {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
}

.as-btn {
    margin: 25px 0;
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 21px 35px 20px;
    border-radius: 999px;
    transition: all .5s linear;
    text-decoration: none;
}
.as-btn:hover {
    background-color: black;
}
.as-btn::before {
    content: "";
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0%;
    width: 0;
    background-color: black;
    z-index: -1;
    transition: all .5s;
    border-radius: inherit;
}
.as-btn:hover:before {
    width: 100%;
    left: 0%;
}






@media screen and (max-width: 576px) {
   
   .logo {
    flex-basis: 45%;
}
   
    .nav {
    display: none;
    }

    .bar {
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #EB0029;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;

}

.hambar-section {
    display: block;
}

.cart-section {
    display: none;
}

.food-lists-container {
    grid-template-columns: repeat(1, 1fr);
    
}

.quality-fast-foods-container {
    flex-direction: column;
}

.quality-food-info {
    margin-top: 10px;
}

.quality-fast-foods{
    padding: 80px 20px;
}



.exp >p {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
    margin-right: 5px;
}

.exp-info p{
    font-size: 16px;
    font-weight: 600;
}

.exp {
    position: absolute;
    right: 0px;
    bottom: 5px;
    display: flex;
    align-items: center;

}

}




.hide {
    display:  none;
}